body {
  margin: 0;
  background: #f5f7fa;

  font-family: "Pretendard Variable";
  font-display: swap;
  color: rgb(51, 51, 51);
  letter-spacing: -0.5px;

  display: flex;
  justify-content: center;

  min-height: 100vh;
}

.slider-container {
  max-width: 1100px;
  width: 100%;
  margin: 100px auto;
  padding: 0 10px;
}

.slider-wrapper {
  position: relative;
  width: 100%;
}

.slider-title {
  margin-bottom: 0px;
  font-size: 24px;
  font-weight: 600px;
}

.slide-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;

  width: 40px;
  height: 40px;
  border-radius: 50%;

  background: white;
  border: 1px solid #ccc;
  color: #ccc;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
}

.left-btn {
  left: -60px;
}

.right-btn {
  right: -60px;
}

.book-list-container {
  display: flex;
  overflow-x: auto;

  gap: 16px;
  padding: 24px;

  margin: 0 auto;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
}

.book-list-container::-webkit-scrollbar {
  display: none;
}

.book-item-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow: hidden;
  width: 300px;

  flex: 0 0 300px;
  scroll-snap-align: start;

  text-decoration: none;
  color: rgb(78, 78, 78);
  background-color: rgb(241, 241, 241);
  border-radius: 20px;
  background: #ffffff;

  border: 1px solid #f0f0f0;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.08);
}

.best-slider .book-item-card {
  padding: 40px;
}

.new-slider .book-item-card {
  height: 250px;
}

.book-item-card:hover {
  transform: translateY(-5px);
  border-color: #969696;
}
.book-rank {
  margin-bottom: 10px;
  font-size: 1.05rem;
  font-weight: 700;

  display: block;
  width: 100%;
  text-align: left;
}

.book-cover {
  position: relative;
  width: 100%;
  aspect-ratio: 3/4.5;

  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;

  background-size: cover;
  background-position: center;
}

.best-slider .book-cover {
  width: 40%;
}

.new-slider .book-cover {
  border-radius: 20px;
}

.new-slider .book-cover::before {
  content: "";
  position: absolute;
  inset: 0;

  background-image: inherit;
  background-size: 600%;
  background-position: center;

  transform: scale(1.1);
  filter: brightness(0.5) blur(4px);
}

.original-img {
  position: absolute;
  width: auto;
  height: 65%;
  z-index: 3;
  object-fit: contain;
}

.book-details {
  width: 100%;
  flex-shrink: 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  min-width: 0;
  box-sizing: border-box;
}

.new-slider .book-details {
  background-color: white;
  padding: 40px;
  margin-top: -50px;
  z-index: 2;
}

.book-title {
  padding: 10px 0;
  font-size: 1.05rem;
  font-weight: 800;
  width: 100%;

  display: block;

  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.book-description {
  margin-bottom: 10px;
  font-size: 1rem;
  font-weight: 400;

  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;

  min-height: 2.5em;
  max-height: 2.5em;
  overflow: hidden;
}

.book-author {
  margin: 0;
  font-size: 0.9rem;
  color: #777;
}

@media (max-width: 768px) {
  body {
    overflow-x: hidden;
    margin-top: 50px;
  }
  .slider-container {
    max-width: 100vw;
    overflow: hidden;
    margin: 0;
    padding-left: 30px;
    box-sizing: border-box;
  }

  .book-list-container {
    padding: 20px;
  }

  .book-item-card {
    flex: 0 0 200px;
    max-width: none;
  }

  .best-slider .book-item-card {
    padding: 30px;
  }

  .new-slider .book-details {
    padding: 30px;
  }

  .slide-btn {
    display: none;
  }
}
